
</style>

<footer class="allfoot">
  
          
    <div class="m-info ">
         <div><b>Inspiration for future getaways</b></div>
           
                
         <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item " role="presentation">
              <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">popular</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link  " id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Arts and cultures</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link " id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Outdoors</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-mountain-tab" data-bs-toggle="pill" data-bs-target="#pills-mountain" type="button" role="tab" aria-controls="pills-mountain" aria-selected="false">Moutain</button>
              </li>

              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-beach-tab" data-bs-toggle="pill" data-bs-target="#pills-beach" type="button" role="tab" aria-controls="pills-beach" aria-selected="false">beach</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-cat-tab" data-bs-toggle="pill" data-bs-target="#pills-cat" type="button" role="tab" aria-controls="pills-cat" aria-selected="false">categories</button>
              </li>
            
          
          </ul>
        
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
              <div class="mm-info">
                <div class="footer-infoo   darke">
                    <b>  Canmore </b>
                    <br/>
                    Chalet rentals
            
                    <div class="extra-infoo   darke">
                        <b>  England </b>
                        <br/>
                        Chalet rentals
                        </div>
                        <div class="extra-infoo   darke">
                            <b>  dubai </b>
                            <br/>
                            Chalet rentals
                            </div>
                </div>
                <div class="footer-info   darke">
                    <b>  Canmore </b>
                    <br/>
                  Chalet rentals
                  <div class="extra-infoo   darke">
                    <b>  Canmore </b>
                    <br/>
                    Chalet rentals
                    </div>
            
                    <div class="extra-infoo   darke">
                        <b>  Canmore </b>
                         <br/>
                        Chalet rentals
                        </div>
                </div>
                <div class="footer-info   darke">
                    <b>  Canmore </b>
                 <br/>
                 Chalet rentals
                 <div class="extra-infoo   darke">
                    <b>  Canmore </b>
                    <br/>
                    Chalet rentals
                    </div>
                    <div class="extra-infoo   darke">
                        <b>  Canmore </b>
                        <br/>
                        Chalet rentals
                        </div>
                  </div>
                  <div class="footer-info   darke">
                    <b>  Canmore </b>
                    <br/>
                    Chalet rentals
                    <div class="extra-infoo   darke">
                        <b>  Canmore </b>
                        <br/>
                        Chalet rentals
                        </div>
                        <div class="extra-infoo   darke">
                            <b>  Canmore </b>
                            <br/>
                            Chalet rentals
                            </div>
                     </div>
                     <div class="footer-info   darke">
                        <b>  usa </b>
                      <br/>
                      Chalet rentals
                      <div class="extra-infoo ">
                        <b>  Canmore </b>
                        <br/>
                        Chalet rentals
                        </div>
                        <div class="extra-infoo  ">
                            <b>  Canmore </b>
                            <br/>
                            Chalet rentals
                            </div>
                         </div>
                         <div class="footer-info  ">
                            <b>  Canada </b>
                            <br/>
                            Chalet rentals
                            <div class="extra-infoo ">
                              <b>  Canmore </b>
                                <br/>
                                Chalet rentals
                                </div>
                                <div class="extra-infoo ">
                                    <b>  ireland </b>
                                    <br/>
                                    Chalet rentals
                                    </div>
                            
                               </div> 
</div>
            </div>
            <!-- //popular -->
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
              <div class="mm-info">
                <div class="footer-info darke">
                    <b>Canada</b>
                    <br/>
                    Cabin rentals
                    <div class="extra-info darke">
                        <b>Banff</b>
                        <br/>
                        Lodge rentals
                    </div>
                    <div class="extra-info darke">
                        <b>Whistler</b>
                        <br/>
                        Ski lodge rentals
                    </div>
                </div>
                <div class="footer-info darke">
                    <b>Switzerland</b>
                    <br/>
                    Mountain retreats
                    <div class="extra-info darke">
                        <b>Zermatt</b>
                        <br/>
                        Ski chalet rentals
                    </div>
                    <div class="extra-info darke">
                        <b>Interlaken</b>
                        <br/>
                        Cozy cabins
                    </div>
                </div>
                <div class="footer-info darke">
                    <b>Norway</b>
                    <br/>
                    Winter lodges
                    <div class="extra-info darke">
                        <b>Geilo</b>
                        <br/>
                        Cabin rentals
                    </div>
                    <div class="extra-info darke">
                        <b>Åre</b>
                        <br/>
                        Ski rentals
                    </div>
                </div>
                <div class="footer-info darke">
                    <b>Austria</b>
                    <br/>
                    Alpine lodgings
                    <div class="extra-info darke">
                        <b>St. Anton</b>
                        <br/>
                        Chalet accommodations
                    </div>
                    <div class="extra-info darke">
                        <b>Innsbruck</b>
                        <br/>
                        Holiday rentals
                    </div>
                </div>
                <div class="footer-info darke">
                    <b>France</b>
                    <br/>
                    Ski apartments
                    <div class="extra-info">
                        <b>Chamonix</b>
                        <br/>
                        Mountain cabins
                    </div>
                    <div class="extra-info">
                        <b>Megève</b>
                        <br/>
                        Lodge rentals
                    </div>
                </div>
               
            </div>
            
            </div>
            <!-- //profile -->
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
              <div class="mm-info">
                <div class="footer-info darke">
                    <b>Canada</b>
                    <br/>
                    Cabin rentals
                    <div class="extra-info darke">
                        <b>Jasper</b>
                        <br/>
                        Rustic cabins
                    </div>
                    <div class="extra-info darke">
                        <b>Mont Tremblant</b>
                        <br/>
                        Lodge rentals
                    </div>
                </div>
                <div class="footer-info darke">
                    <b>Switzerland</b>
                    <br/>
                    Alpine retreats
                    <div class="extra-info darke">
                        <b>Lucerne</b>
                        <br/>
                        Mountain chalets
                    </div>
                    <div class="extra-info darke">
                        <b>Lausanne</b>
                        <br/>
                        Cozy lodgings
                    </div>
                </div>
                <div class="footer-info darke">
                    <b>Norway</b>
                    <br/>
                    Winter accommodations
                    <div class="extra-info darke">
                        <b>Hemsedal</b>
                        <br/>
                        Ski cabins
                    </div>
                    <div class="extra-info darke">
                        <b>Trysil</b>
                        <br/>
                        Lodge rentals
                    </div>
                </div>
                <div class="footer-info darke">
                    <b>Austria</b>
                    <br/>
                    Mountain lodgings
                    <div class="extra-info darke">
                        <b>Kitzbühel</b>
                        <br/>
                        Alpine cabins
                    </div>
                    <div class="extra-info darke">
                        <b>Salzburg</b>
                        <br/>
                        Chalet rentals
                    </div>
                </div>
                <div class="footer-info darke">
                    <b>France</b>
                    <br/>
                    Ski lodges
                    <div class="extra-info">
                        <b>Val Thorens</b>
                        <br/>
                        Mountain retreats
                    </div>
                    <div class="extra-info">
                        <b>Les Deux Alpes</b>
                        <br/>
                        Cozy cabins
                    </div>
                </div>
                <div class="footer-info">
                    <b>Italy</b>
                    <br/>
                    Rustic stays
                    <div class="extra-info">
                        <b>Madonna di Campiglio</b>
                        <br/>
                        Lodge accommodations
                    </div>
                    <div class="extra-info">
                        <b>Livigno</b>
                        <br/>
                        Cabin rentals
                    </div>
                </div>
            </div>
            
               
                    
                      
                  
        
           
            </div>
            <!-- //outdoes -->
            <div class="tab-pane fade" id="pills-mountain" role="tabpanel" aria-labelledby="pills-moutain-tab" tabindex="0">    
              <div class="mm-info">
                <div class="footer-info darke">
                    <b>Canada</b>
                    <br/>
                    Cabin rentals
                    <div class="extra-info darke">
                        <b>Jasper</b>
                        <br/>
                        Rustic cabins
                    </div>
                    <div class="extra-info darke">
                        <b>Whistler</b>
                        <br/>
                        Ski lodge rentals
                    </div>
                </div>
                <div class="footer-info darke">
                    <b>Switzerland</b>
                    <br/>
                    Mountain retreats
                    <div class="extra-info darke">
                        <b>Zermatt</b>
                        <br/>
                        Chalet accommodations
                    </div>
                    <div class="extra-info darke">
                        <b>Lucerne</b>
                        <br/>
                        Cozy lodgings
                    </div>
                </div>
                <div class="footer-info darke">
                    <b>Norway</b>
                    <br/>
                    Winter lodges
                    <div class="extra-info darke">
                        <b>Geilo</b>
                        <br/>
                        Cabin stays
                    </div>
                    <div class="extra-info darke">
                        <b>Åre</b>
                        <br/>
                        Ski cabins
                    </div>
                </div>
                <div class="footer-info darke">
                    <b>Austria</b>
                    <br/>
                    Alpine lodgings
                    <div class="extra-info darke">
                        <b>Kitzbühel</b>
                        <br/>
                        Mountain chalets
                    </div>
                    <div class="extra-info darke">
                        <b>Innsbruck</b>
                        <br/>
                        Holiday rentals
                    </div>
                </div>
                <div class="footer-info darke">
                    <b>Italy</b>
                    <br/>
                    Rustic stays
                    <div class="extra-info">
                        <b>Cortina d'Ampezzo</b>
                        <br/>
                        Lodge accommodations
                    </div>
                    <div class="extra-info">
                        <b>Livigno</b>
                        <br/>
                        Cozy cabins
                    </div>
                </div>
                <div class="footer-info">
                    <b>France</b>
                    <br/>
                    Ski apartments
                    <div class="extra-info">
                        <b>Chamonix</b>
                        <br/>
                        Luxury lodges
                    </div>
                    <div class="extra-info">
                        <b>Megève</b>
                        <br/>
                        Mountain cabins
                    </div>
                </div>
            </div>
            
        </div>
             <!-- //mountain -->
             <div class="tab-pane fade" id="pills-beach" role="tabpanel" aria-labelledby="pills-beach-tab" tabindex="0"> 
              <div class="mm-info">
                <div class="footer-info darke">
                    <b>Canada</b>
                    <br/>
                    Cabin rentals
                    <div class="extra-info darke">
                        <b>Jasper</b>
                        <br/>
                        Rustic cabins
                    </div>
                    <div class="extra-info darke">
                        <b>Banff</b>
                        <br/>
                        Lodge rentals
                    </div>
                </div>
                <div class="footer-info darke">
                    <b>Switzerland</b>
                    <br/>
                    Mountain chalets
                    <div class="extra-info darke">
                        <b>Zermatt</b>
                        <br/>
                        Ski chalet rentals
                    </div>
                    <div class="extra-info darke">
                        <b>Lucerne</b>
                        <br/>
                        Cozy lodgings
                    </div>
                </div>
                <div class="footer-info darke">
                    <b>Norway</b>
                    <br/>
                    Winter lodges
                    <div class="extra-info darke">
                        <b>Geilo</b>
                        <br/>
                        Cabin stays
                    </div>
                    <div class="extra-info darke">
                        <b>Åre</b>
                        <br/>
                        Ski accommodations
                    </div>
                </div>
                <div class="footer-info darke">
                    <b>Austria</b>
                    <br/>
                    Alpine lodgings
                    <div class="extra-info darke">
                        <b>Kitzbühel</b>
                        <br/>
                        Mountain lodges
                    </div>
                    <div class="extra-info darke">
                        <b>Innsbruck</b>
                        <br/>
                        Holiday rentals
                    </div>
                </div>
                <div class="footer-info darke">
                    <b>Italy</b>
                    <br/>
                    Rustic stays
                    <div class="extra-info">
                        <b>Cortina d'Ampezzo</b>
                        <br/>
                        Lodge accommodations
                    </div>
                    <div class="extra-info">
                        <b>Livigno</b>
                        <br/>
                        Cozy cabins
                    </div>
                </div>
                <div class="footer-info">
                    <b>France</b>
                    <br/>
                    Ski apartments
                    <div class="extra-info">
                        <b>Chamonix</b>
                        <br/>
                        Luxury lodges
                    </div>
                    <div class="extra-info">
                        <b>Megève</b>
                        <br/>
                        Mountain cabins
                    </div>
                </div>
            </div>
            
             </div>
             <!-- //beach -->
             <div class="tab-pane fade" id="pills-cat" role="tabpanel" aria-labelledby="pills-cat-tab" tabindex="0">
               <div class="mm-infoo">
              <b class="links-info amazi"> <a href="#" class="amaz">Amazing pools</a>
              
            </b> 
              <b  class="links-info amazi"> <a href="#" class="amaz">Artic</a>
                
            </b> 

              <b  class="links-info amazi"> <a href="#" class="amaz">Camping</a>
               
            </b> 
              <b  class="links-info amazi"> <a href="#" class="amaz">Castels</a>
               
            </b> 
              <b  class="links-info amazi"> <a href="#" class="amaz">Design</a> 
              
            </b> 
            <b class="links-info amazi"> <a href="#" class="amaz">Luxe</a>
              
            </b> 
               </div>


              </div>
            
           
                            
              
                      </div>
             </div>
       
         </div>
         <hr/>
             <div class="more-info">
              <div class="helpp"> <b>support</b>
                <br/>
                <a href="#" class="contact-support">Help center</a>
                <br/>
                <a href="#" class="contact-support">Air Cover</a>
                <br/>
                <a href="#" class="contact-support">Anti description</a>
                <br/>
                <a href="#" class="contact-support">Cancelletion options</a>
              
             </div> 
              <div class="help">  <b>Hosting </b>
                <br/>
                <a href="#" class="contact-support">StaySphere your home</a>
                <br/>
                <a href="#" class="contact-support">Host your farm house</a>
                <br/>  
                <a href="#" class="contact-support">Join a free hosting class</a>
                <br/> 
                <a href="#" class="contact-support">Hosting responsibily</a>
            </div> 

              <div class="help">  <b>StaySphere </b> 
                <br/>
                <a href="#" class="contact-support">Newsroom</a>
                <br/>
                <a href="#" class="contact-support">Newspaper</a>
                <br/>
                <a href="#" class="contact-support">Careers</a>
                <br/>
                <a href="#" class="contact-support">Investors</a>
            </div> 

                </div>
         <!-- socialmedia -->
    <div class="f-info">

       
        <div class="f-info-socails">
            <i class="fa-brands fa-square-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
          <a href="https://www.linkedin.com/in/mohammed-khaleel-5b2b99274"> <i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand"> &copy;StaySphere,inc</diV>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>



</footer>
<!-- take this code and make changes on canda and etc and make sure all the countries should be unique -->