<style>
  .home {
   font-size: 1.5rem;

   color : #8644A2;
  }
 .dropdown-toggle {
background-color: white;
color: gray;
  border: 1px solid gray;
  border-radius: 1rem;
 }
 .searchh {
  color:  #8644A2;
  font-size: 1.4rem;
 }
.dropdown {
  margin-right: 4rem;
}

  .usser {
    font-size: 1.7rem;
  }
  .dropdown-menu , a :hover {
    background-color: rgba(255, 255, 255, 0.737);

  }
  .infoo {
    margin-left: 4rem;
  }

 .title {
  margin-left : 10rem;
  border: 1px solid gray;
  padding: 0.5rem;
  border-radius: 20%;
  border-top-left-radius:15px ;
  border-bottom-left-radius:15px ;
  border-top-right-radius:15px ;
  border-bottom-right-radius:15px ;
 }
  
  </style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
   
    <a class="navbar-brand home" href="/listings"><i class="fa-solid fa-mountain-city fa-compass"></i><b>StaySphere</b></a>

  <div class="title"><b> Any where  &nbsp;  &nbsp;  | &nbsp;   Any week</b>  &nbsp;  |&nbsp;  &nbsp; Add guest &nbsp;  &nbsp;   &nbsp;   <i class="fa-solid fa-magnifying-glass searchh"></i></div>
  <div class="infoo"><b>StaySphere &nbsp; your &nbsp;home</b>  &nbsp; &nbsp;  &nbsp; &nbsp; <i class="fa-solid fa-globe"></i></div>
  <!doctype html>
  
 <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-bars barrs"></i>
        &nbsp; &nbsp;
        <i class="fa-solid fa-circle-user usser"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/listings/new">Add new Listing</a></li>
        <% if(!currUser) { %>
        <li><a class="dropdown-item" href="/signup">signup</a></li>
        <li><a class="dropdown-item" href="/login">login</a></li>
        <%  } %>
        <% if(currUser) { %>
        <li><a class="dropdown-item" href="/logout">logout</a></li>
        <%  } %>
      </ul>
    </div>
  </div>
</nav>

