<% layout("/layouts/biolerplate") %> <%= success %>
<div class="acca">
<h1 class="mar-l">It's never been this easy to make yourself at home.</h1>
<p>Evermore Orlando Resort is thoughtfully designed for the needs of families, friends and business groups. We’ve pored over every detail to create an unparalleled experience that turns the challenges of large groups into small potatoes. With accommodations that range from 2 to 11 bedrooms, it’s easy to find your happy space for a special time together</p>

<i class="fa-solid fa-house-chimney chimne"></i>
<br/> <br/>
<h4 class="house-fi">Five To Eleven Bedrooms</h4>
<h1 class="house-fi">Houses</h1>
<p>Our intuitively designed homes are purpose built to meet the needs of a large group traveling together. 
    4 bedrooms, 4 bathrooms, and 4 steps away from the shore of Evermore Bay. (Ok, it might not be exactly 4 steps, but we promise you can't get closer)
</p>
<i class="fa-regular fa-building chimne"></i>
<h4 class="house-fi">Two & Four Bedrooms</h4>
<h1 class="house-fi"> Villas</h1>
<p>Conrad Orlando is a contemporary, luxury resort offering exceptional full-service amenities, high-touch intuitive service, and spacious environments. This immersive destination features 433 guestrooms and 61 spacious suites inspired by the natural springs of Central Florida. The minimalist style of the guestrooms, with floor-to-ceiling windows, frame the backdrop of this aquatic paradise — providing captivating views as far as the eye can see.</p>
</div>
<div class="acc-one">

<h3 class="mar-l">“The idea behind all of the variety found at Evermore is that vacations shouldn't be one-size-fits-all, giving guests plenty of choices and ways to customize their stay.”
   <br/>  <br/> 
   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  – WDW Magazine</h3>
   <h1 class="chimne">Make your next event </h1>
   <i class="fa-solid fa-icons chimne"></i>
   <h4 class="house-fi">Unique Venues</h4>
<p> Get a closer look at our purpose-built venue spaces and 24/7 service, and let us know what appeals to you. Looking for more detailed venue information? Reach out and we will be happy to answer your questions.</p>
<h4 class="house-fi">Meetings</h4>
<p>Where you host your meeting matters — and we're uniquely positioned to offer you a memorable and exciting work event you team will remember.
    Meetings are a fundamental aspect of organizational communication and  of the participants.  However, poorly managed meetings can lead to wasted time and decreased morale. To maximize effectiveness, it's crucial to start on time, stay focused on the agenda, and encourage active participation. Follow-up actions and summaries help ensure that decisions made are implemented and tracked.
<form action="/listings/offer" class="offer-btn-form">
    <button class="click-offer" >Slide into our offers</button>
</form>

</p>
</div>