<% layout("/layouts/biolerplate") %> <%= success %>
<div class="offer-one">
    <h1>Slide into Our Offers</h1>
    <p>Save big with limited-time deals for Orlando’s first and only beach paradise resort.
        <br/>
        NOW OPEN
    </p>

    <div class="offer-onetwo">
        <h1>Stay longer and save
            <br/> 75%*.
        <br/>
        Enjoy a staycation you’ll remember forever with this special offer that makes Evermore the easiest decision ever.
    </h1>
        <i class="fa-solid fa-building-user ofr-icon"></i>
        </div>
        <br/>    <br/> 
        <h4>There's no place like an Evermore home. 
            <br/>Stay in a 4-bedroom Flat or 5-11 bedroom House to take advantage of this limited-time offer.</h4>
            <button class="click-offer">Learn more </button>
    </div>
    <div class="offer-two">
        <h1>No Work, ALL JOY Holiday Offer
            <br/>as a Florida Resident
        </h1>
        <i class="fa-solid fa-person"></i>
    </div>
    <div class="offer-three">
        <p>  Enjoy a staycation you’ll remember forever with this special offer that makes Evermore the easiest decision ever
        Make your holiday vacation easy this year — save 20%* on a 5–11 bedroom house, plus we'll do the cooking and cleaning.
        Evermore is uniquely designed to make vacationing with your whole family easy. This holiday season, we're making it even easier. Our gift to you is we do the cooking and cleaning, so you can focus on fun and relaxation while we handle the rest.

Save 20%* on 5 nights or more in a 5–11 bedroom house 
Enjoy a complimentary Evermore To Your Door holiday hot meal delivery for the entire family on the date and time of your choice. View Menu »
Receive a complimentary kitchen tidy up service by our professional Housekeeping Team</p>

<button class="click-offer ">Learn more </button>
    </div>

<div class="offer-four">

    <div class="offer-form user-offerdiv">
        <h2>Vacations. Ever Changed.</h2>
    
    <h6>407-239-4708999 </h6>
    <p>1980 StaySphere
        Dublin,</p>
        <p><b>contact@StaySphere.com</b></p>
        <p>Reservations: 855.341.9527</p>
    </div>


    <form class="offer-form user-offer" action="/listings/offer">
        <h1>Stay in touch</h1>
        <label for="name">First Name*</label>
        <br/>  
        <input type="text" name="first name" class="name" required/>
        <br/>  <br/>
        <label for="name">Last Name*</label>
        <br/>  
        <input type="text" name="last name" class="name" required/>
        <br/>  <br/>
        <label for="name">Email*</label>
        <br/>
        <input type="email" name="email" class="name" required/>
        <br/>  <br/>
        <button class="click-offer form-offerbtn">Submit </button>

    </form>

</div>