body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .container {
      flex: 1;
  }
  .navbar {
        height: 5rem;
      background-color: white;
  }
  .fa-compass {
      color: #fe424d;
      font-size: 2rem;
  }
  .nav-link {
      color: #222222 !important;
  }
  .f-info-links a {
      text-decoration: none;
      color: #222222;
  
  }
  .f-info-links,
  .f-info-socails,
  .f-info-brand {
      width: 100%;
     
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .f-info-socails i {
      margin-right: 1rem;
      font-size: 1.2rem;
      
  }
  .f-info-links a:hover {
      text-decoration: underline;
  }
  .f-info {
      text-align: center;
      height: 8rem;
      background-color: #ebebeb;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }
  
  /* .cards */
  .listing-card {
      border: none !important;
      margin-bottom: 2rem;
  }
  .card-img-top {
      width: 100% !important;
      border-radius: 1rem !important;
      object-fit: cover !important;
  }
  .card-body {
      padding: 0 !important;
  
  }
  .card-text p {
      font-weight: 400 !important;
  }
  .listing-link {
      text-decoration: none;
  }
  .card-img-overlay {
      opacity: 0;
  }
  .card-img-overlay:hover {
      opacity: 0.2;
      background-color: white;
  }
  .add-btn {
      background-color: #fe424d !important;
      border: none !important;
  }
  /* edit-page */
  .edit-btn {
      background-color: #fe424d !important;
      border: none !important;
  }
  
  /* show-page */
  .show-img {
      height: 30vh;
  }
  .btns {
      display: flex;
      margin-bottom: 2rem;
      padding: 0 !important;
  }
  .show-card {
      padding-left: 0;
      padding-right: 0;
  }
  
  /* map */
  #map {
    height: 400px;
    width: 80vh;
  }
  .back {
    margin-left: 1rem;
  }
  .btn-edit {
    display: flex;
    flex-wrap:wrap;

  }
  .searchbar {
  margin-left: 24rem;
  }
  .searchplace {
    width: 200px !important;
    text-align: center !important;
  }
  /* Base styles for all devices */

/* Styles for mobile phones */
.txt {
    color: #222222;
    margin-left: 1rem;
    font-size: 0.8rem;
    opacity: 0.8;
    text-transform: lowercase !important;
}
.search  {
   margin-left: 24rem !important;
   
}
@media screen and (max-width:360px)
{
   .search-place {
    width: 95px !important;
    margin-left: -20.5rem;
   }
  .home {
    display: none !important;
    
  }
   .search {
    margin-top: -2.5rem;
   }
   .users {
    background-color: rgb(246, 246, 247);
    margin-left: 14rem;
    height: 160px;
    width: 80px !important;

   }
}
.search-place {
    border-radius: 4rem !important;
}
@media screen and (max-width:430px)
{
   .search-place {
    width: 95px !important;
    margin-left: -20.5rem;
   }
  .home {
    display: none !important;
  }
   .search {
    margin-top: -2.5rem;
   }
   .users {
    background-color: rgb(246, 246, 247);
    margin-left: 14rem;
    height: 160px;
    width: 80px !important;

   }
}
